/* Form Container */
#expense-form {
    margin-bottom: 40px;
}

/* Form Fields */
.form-label {
    font-weight: bold;
    color: var(--dark-gray);
}

.form-control, .form-select {
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    padding: 8px;
}

/* Add Expense Button */
#expense-form .btn {
    background-color: var(--success-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
}

#expense-form .btn:hover {
    background-color: #218838;
}
