<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .error {
            color: red;
            font-size: 0.9em;
        }
        .terms {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="app" class="container mt-4">
        <h1>Registration Form</h1>
        <form 
            method="post" 
            :action="formAction" 
            @submit="validateBeforeSubmit"
        >
            <fieldset>
                <legend>Personal Information</legend>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" v-model="form.firstName" name="firstName" class="form-control">
                    <span class="error" v-if="errors.firstName">{{ errors.firstName }}</span>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" v-model="form.lastName" name="lastName" class="form-control">
                    <span class="error" v-if="errors.lastName">{{ errors.lastName }}</span>
                </div>
            </fieldset>

            <fieldset>
                <legend>Login Information</legend>
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" id="userName" v-model="form.userName" name="userName" class="form-control">
                    <span class="error" v-if="errors.userName">{{ errors.userName }}</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" v-model="form.password" name="password" class="form-control">
                    <span class="error" v-if="errors.password">{{ errors.password }}</span>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" v-model="form.confirmPassword" name="confirmPassword" class="form-control">
                    <span class="error" v-if="errors.confirmPassword">{{ errors.confirmPassword }}</span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" v-model="form.email" name="email" class="form-control">
                    <span class="error" v-if="errors.email">{{ errors.email }}</span>
                </div>
            </fieldset>

            <fieldset>
                <legend>Address</legend>
                <div class="form-group">
                    <label for="streetAddress">Street Address (optional)</label>
                    <input type="text" id="streetAddress" v-model="form.streetAddress" name="streetAddress" class="form-control">
                </div>
                <div class="form-group">
                    <label for="suburb">Suburb (optional)</label>
                    <input type="text" id="suburb" v-model="form.suburb" name="suburb" class="form-control">
                </div>
                <div class="form-group">
                    <label for="postcode">Postcode</label>
                    <input type="text" id="postcode" v-model="form.postcode" name="postcode" class="form-control">
                    <span class="error" v-if="errors.postcode">{{ errors.postcode }}</span>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" id="mobile" v-model="form.mobile" name="mobile" class="form-control">
                    <span class="error" v-if="errors.mobile">{{ errors.mobile }}</span>
                </div>
            </fieldset>

            <div class="form-group">
                <button type="button" class="btn btn-info" @click="showTerms = !showTerms">Show Terms and Conditions</button>
                <div class="terms" v-if="showTerms">
                    <p>Random Terms and Conditions text here.</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="js/appregistration2.js"></script>
</body>
</html>
